SUPABASE_DB_URL=jdbc:postgresql://db.xxxx.supabase.co:5432/postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=

CLOUDINARY_CLOUD_NAME=dmzb1cnwn
CLOUDINARY_API_KEY=189657135919753
CLOUDINARY_API_SECRET=

# At least 256-bit random string — e.g. openssl rand -hex 64
JWT_SECRET=
